@import url('https://fonts.googleapis.com/css2?family=Ponomar&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Ponomar&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Ponomar&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Ponomar&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shippori+Antique+B1&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ponomar&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shippori+Antique+B1&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    background-color: #100F0F
}

.magnifying-glass {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.white-star {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.cart {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

.project-name {
    background: url(img/free-icon-dragon-18141482.png) no-repeat left center;
    background-size: 30px 30px;
    padding-left: 40px;
    width: fit-content; 
    height: 28px;
    font-family: 'Krona One';
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}

.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding-top: 20px;
}

.buttons-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 260px;
    width: 1800px;
}

.button-header {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    left: 147px;
}

.cart-counter {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    width: 19px;
    height: 19px;
    background: #7281E8;
    border-radius: 50%;
    text-indent: 5px;
    font-weight: 300;
}

.favorites-counter {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    width: 19px;
    height: 19px;
    background: #7281E8;
    border-radius: 50%;
    text-indent: 5px;
    font-weight: 300;
}

.counter-favorite {
    display: flex;
    justify-content: end;
}

.counter-cart {
    display: flex;
    justify-content: end;
}

.schedule-text {
    font-family: 'Inter';
    font-style: normal;
    color: #8F8F8F;
    font-size: 14px;
}

.schedule {
    position: relative;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 200;
    bottom: 9px;
}

.schedule1 {
    position: relative;
    display: flex;
    right: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 200;
    bottom: 9px;
}

.location {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    color: #8F8F8F;
    bottom: 9px;
}

.mail-header {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    color: #8F8F8F;
    bottom: 9px;
    left: 50px;
}

.contacts {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #8F8F8F;
    text-decoration: none;
    position: relative;
    left: 350px;
}

.contacts::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('img/icons8-телефон-100.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-the-company {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #8F8F8F;
    text-decoration: none;
    position: relative;
    left: 260px;
}

.system-block {
    display: inline-flex;
    left: 55px;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #8F8F8F;
    text-decoration: none;
    position: relative;
}

.about-the-company::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('img/icons8-здание-100.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.system-block::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('img/icons8-компьютер-96.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buy-menu {
    justify-content: start;
    display: flex;
    width: 940px;
    height: 860px;
    background: #150F0F;
    border: 1px solid #FFFFFF;
    border-radius: 23px;
    position: relative;
    bottom: 100px;
}

.cards-pc{
    display: flex;
    justify-content: end;
    margin-right: 197px;
}

.white-card-pc{
    display: flex;
    position: relative;
    padding-top: 60px;
    align-items: center;
    flex-direction: column;
    background-color: none;
    transition: background-color 0.5s ease;
    border-radius: 22px;
}

.name-pc{
font-family: 'Shippori Antique B1';
font-weight: 1;
font-size: 20px;
color: #FFFFFF;
}

.name-cards-menu{
position: absolute;
font-family: 'Nunito Sans';
font-weight: 600;
font-size: 25px;
color: #FFFFFF;
padding-left: 30px;
}

.class-siries{
position: relative;
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
color: #93A0F5;
bottom: 10px;
text-decoration: none;
}

.cpu{
position: relative;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #8F8F8F;
bottom: 20px;
right: 18px;
}

.cpu-img{
    display: flex;
    position: relative;
    right: 80px;
    bottom: 50px;
    width: 33px;
    height: 33px;
}

.cpu-name{
position: relative;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
bottom: 77px;
right: 4px;
}  

.gpu{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #8F8F8F;
    bottom: 90px;
    right: 14px;
}

.gpu-name{
position: relative;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
bottom: 145px;
left: 32px;
}

.gpu-img{
    display: flex;
    position: relative;
    right: 80px;
    bottom: 120px;
    width: 33px;
    height: 33px;
}

.memory{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #8F8F8F;
    bottom: 155px;
    right: 14px;
}

.memory-name{
position: relative;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
bottom: 210px;
right: 33px;
}

.memory-img{
    display: flex;
    position: relative;
    right: 80px;
    bottom: 185px;
    width: 33px;
    height: 33px;
}

.oper-memory{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #8F8F8F;
    bottom: 223px;
    left: 20px;
}

.oper-memory-name{
position: relative;
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
bottom: 279px;
right: 9px;
}

.type-memory-img{
    display: flex;
    position: relative;
    right: 80px;
    bottom: 255px;
    width: 33px;
    height: 33px;
}

.hdd{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #8F8F8F;
    bottom: 290px;
    right: 3px;
}

.hdd-name{
    position: relative;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    bottom: 345px;
    right: 20px;
}

.ssd-img{
    display: flex;
    position: relative;
    right: 80px;
    bottom: 324px;
    width: 33px;
    height: 33px;
}

.price{
position: relative;
font-family: 'Roboto';
font-weight: 400;
font-size: 22px;
color: #FFFFFF;
}

.add-to-cart {
    position: relative;
    background: #5264DA;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    border: none;
    line-height: 40px;
    color: #FFFFFF;
    width: 160px;
    bottom: 340px;
    height: 200px;
    cursor: pointer;
    right: 15px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #3f51c7; 
}

.add-to-favorite{
    position: relative;
    background: #5264DA;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 500;
    padding-left: 6px;
    color: #FFFFFF;
    border: none;
    left: 96px;
    bottom: 383px;
    line-height: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-favorite:hover {
    background-color: #3f51c7; 
}

.favorite-img{
    position: relative;
    top: 2px;
}

#name-pc-id{
    position: relative;
}

.buy-img{
    position: relative;
    top: 6px;
    left: 10px;
}

.category-pc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    left: 250px;
    top: 50px;
    position: relative;
    width: 200px;
    height: 140px;
    background: #150F0F;
    border: 1px solid #FFFFFF;
    border-radius: 23px;
}

.all{
    position: relative;
    font-family: 'Nunito Sans';
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.gaming-series{
    position: relative;
    font-family: 'Nunito Sans';
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.office-series{
    position: relative;
    font-family: 'Nunito Sans';
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-range-price{
    position: absolute;
    justify-content: center;
    width: 280px;
    height: 180px;
    background: #150F0F;
    border: 1px solid #FFFFFF;
    border-radius: 23px;
    left: 250px;
    margin-top: 70px;
    padding-left: 50px;
}

.max-price{
    position: relative;
    display: flex;
    border-radius: 5px;
    border: none;
    bottom: 25px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.label-max-price{
    display: flex;
    position: relative;
    bottom: 10px;
    color: white;
}

.price-range{
    color: white;
    font-weight: 300;
    font-size: 23px;
}

.min-price{
    position: relative;
    display: flex;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 400;
    bottom: 25px;
}

.label-min-price{
    display: flex;
    position: relative;
    color: white;
    bottom: 10px;
}

.button-menu-scip{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 500px;
    height: 32px;
    top: 790px;
    right: 530px;
    gap: 5px;
}

.slide-one{
    width: 30px;
    height: 30px;
    background: #373737;
    border-radius: 3px;
    border: none;
    color:white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.slide-two{
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 3px;
    border: none;
    color:white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.slide-three{
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 3px;
    border: none;
    color:white;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.white-card-pc:hover{
    background-color: rgba(68, 101, 129, 0.158);
    border-radius: 22px;
}