.slide-two{
    background: none;
    border-radius: 3px;
    border: none;
    color:white;
}

.slide-one{
    background: none;
    border-radius: 3px;
    border: none;
    color:white;
}

.slide-three{
    background: #373737;
    border-radius: 3px;
    border: none;
    color:white;
}